/* .centerImage{
    text-align: center;
    display: block;
    justify-content: center;
    justify-items: center;
    margin-right: auto;
    margin-left: auto;
} */
.container {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  background-color: brown;
}
