.johndiv{
    height: 500px;
    background-color: yellow;
    background-image: url('./pexels-jane-doan-1092730.jpg');
    background-size: 100%;
    background-position: fixed;
}

.navbar{
    background-color: red;
    height: 80px;
}

.nav-box{
    border: 2px solid black;
    height: 76px;
    width: 80%;
    margin: auto;
    text-align: right;
    line-height: 80px;
}

.firstbu{
    background-color: transparent0;
    /* color: white; */
    border: none;
}

.secondbu{
    background-color: transparent;
    color:white;
    border: 2px solid white;
}

th, td {
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
    text-align: center;
  }

  .center of box{
    position: relative;
    height: 500px;
    width: 600px;
    border: 2px solid blueviolet;
    margin: auto;
  }